graph {
	fill-color: #FFF, #BBB; 
	fill-mode: gradient-diagonal2;
}

node {
	size: 20px;
	//text-alignment: at-right; text-padding: 3px, 2px; text-background-mode: rounded-box; text-background-color: #A7CC; text-color: white; text-style: bold-italic; text-color: #FFF; text-offset: 5px, 0px;
}

node.hub {
	fill-color: red;
}

edge {
	fill-color: black;
	size: 1px;
}